.footer{
  background-color: #031D2B;
  opacity: 95%;
  width: 100%;
  margin: 0;
}
.items{
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content:center;
  gap: 2rem;
  
   
}
.pr-items{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content:center;
}
.icon{
  width: 3%;
}

